@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  overflow-x: hidden !important;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /*Fonts*/

  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", "serif";

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-midnight-blue: #044572;
  --color-sky-blue: #00b3ff;

  --color-ice-blue: #e8f7ff;

  --color-dark-bg: #0f172a;
  --color-dark-text: #e2e8f0;

  --color-white: #ffffff;
  --color-light-text: #1e293b;

  --color-gray: #4f4f4f;

  --color-charcoal: #242424;
  --color-lightGray: #565656;
  --color-grayBlack: #202020;
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --shadow-black: 4px 4px 0px 0 rgb(0 0 0 / 1);
  --shadow-white: 4px 4px 0px 0 rgb(255 255 255 / 1);

  /* Media Query */
  --breakpoint-3xl: 1800px;
}

@utility font80 {
  @apply text-[28px] md:text-[34px] lg:text-[42px] xl:text-[52px] 2xl:text-[64px] [@media(min-width:1800px)]:text-[80px];
}

@utility font60 {
  @apply text-[20px] md:text-[24px] lg:text-[30px] xl:text-[38px] 2xl:text-[48px] [@media(min-width:1800px)]:text-[60px];
}

@utility font40 {
  @apply text-[16px] lg:text-[20px] xl:text-[24px] 2xl:text-[32px] [@media(min-width:1800px)]:text-[40px];
}

@utility font32 {
  @apply text-[16px] md:text-[20px] xl:text-[26px] 2xl:text-[26px] [@media(min-width:1800px)]:text-[32px];
}

@utility font28 {
  @apply text-[20px] xl:text-[22px] 2xl:text-[26px] [@media(min-width:1800px)]:text-[28px];
}
@utility font26 {
  @apply text-[14px] xl:text-[16px] 2xl:text-[20px] [@media(min-width:1800px)]:text-[26px];
}

@utility font24 {
  @apply text-[16px] xl:text-[18px] 2xl:text-[20px] [@media(min-width:1800px)]:text-[24px];
}

@utility font20 {
  @apply xl:text-[14px] 2xl:text-[16px] [@media(min-width:1800px)]:text-[20px];
}

@utility font18 {
  @apply xl:text-[14px] 2xl:text-[16px] [@media(min-width:1800px)]:text-[18px];
}

@utility font16 {
  @apply text-[14px] 2xl:text-[16px];
}

@utility font14 {
  @apply text-[14px];
}

@utility wrapper {
  @apply px-[30px] lg:px-[60px] xl:px-[100px] 2xl:px-36 [@media(min-width:1800px)]:px-[180px];
}

@layer component {
  .menuLi {
    @apply font20 font-Ovo dark:text-white;
  }
  .blactBtn {
    @apply bg-grayBlack font-Ovo font18 flex items-center gap-2.5 rounded-[50px] px-8 py-5 leading-[100%] text-white lowercase dark:border dark:border-white dark:bg-transparent dark:text-white;
  }
  .whiteBtn {
    @apply font-Ovo font18 text-charcoal flex items-center gap-2.5 rounded-[50px] border border-[#A7A7A7] bg-white px-8 py-5 leading-[100%] lowercase dark:bg-white dark:text-black;
  }

  .scrollStop {
    @apply h-screen touch-none overflow-x-hidden overflow-y-hidden;
  }
}
